@tailwind base;
@tailwind components;
@tailwind utilities;

/* Write your own custom component styles here */
.btn-black {
  @apply border border-black bg-black text-white font-bold py-2 px-4 rounded text-center;
}

.btn-black:hover {
  @apply transition duration-150 bg-white text-black;
}

.btn-black-outline {
  @apply border border-black text-black py-2 px-4 rounded font-bold text-center;
}

.btn-black-outline:hover {
  @apply transition duration-150 bg-black text-white;
}

.display-flex {
  @apply flex gap-1 justify-center items-center p-2;
}

.checkbox-hide {
  @apply absolute opacity-0 cursor-pointer h-0 w-0;
}

/* NAVIGATION */

.navbar {
  @apply hidden md:flex flex-row items-center justify-between px-8 h-20 rounded-b-3xl bg-red-500;
}

.logo {
  @apply text-5xl text-gray-800 -mb-1;
}

.navItems {
  @apply flex flex-row self-end h-14;
}

.navItem {
  @apply w-20 text-neutral-100 hover:text-gray-700 cursor-pointer font-medium tracking-wide text-sm flex items-start justify-center;
}

.selectedNavItem {
  @apply text-gray-700 border-b-2 rounded-t-md rounded-r-md rounded-b-none border-gray-700 bg-gradient-to-b from-white to-gray-100 pt-3;
}

.actions {
  @apply bg-white hover:bg-gray-50 border-2 border-gray-900 text-sm text-gray-900 py-3 px-5 rounded-lg font-medium tracking-wide leading-none;
}

/* TAB */

.tabbar {
  @apply flex md:hidden flex-row items-center justify-around px-8 h-20 bg-red-500 visible md:invisible fixed bottom-0 w-full rounded-t-3xl text-2xl;
}

.tabItem {
  @apply text-gray-400 hover:text-gray-700 cursor-pointer w-20 h-full flex items-center justify-center;
}

.tabItemActive {
  @apply bg-gradient-to-t from-white to-gray-100 border-t-4 border-gray-700 text-gray-700;
}

.icon {
  @apply -mb-1;
}

@layer components {
  .list-plus {
    list-style-type: '+ ';
  }
}

/* GLOBAL RESET */
* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
